.App{
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    border: solid;
    width: 400px;

}
.App h2{
    color: darkcyan;
}
span{
    color: mediumblue;
}
.p{
    color: mediumblue;
}

.button{
    padding: 10px;
    display: flex;
    justify-content: space-around;

}
.container{
    text-align: center;
    border-radius: 20px;
    border: solid;
    width: 400px;
}
.main{
    display:flex;
    justify-content: space-evenly;
}
.out{
    color: green;
}
.sav{
    color: darkred;
}
.pic img{
    width: 75%;
}